body{
  background-color: rgb(236, 236, 236);
  margin: 0 0 0 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
input[type="text"], input[type="password"],input[type="button"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
}